<template>
    <div class="container">
    	<appHeader :quoteCount="quotes.length" :maxQuotes="maxQuote"></appHeader>
    <appNewQuote @quoteAdded="addNewQuote"></appNewQuote>
	
    <appQuoteGrid :quotes="quotes" @quoteDeleted="deleteQuote"></appQuoteGrid>
    <div class="col-sm-12 text-center">
    	<div class="alert alert-info">
    		Info:CLick on Quote to delete it!
    	</div>
    </div>
    </div>
</template>

<script>
import QuoteGrid from './components/QuoteGrid.vue';
import NewQuote from './components/NewQuote.vue';
import Header from './components/Header.vue';
    export default {
    	data: function() {
    		return {
    			quotes:[
    			'The first Fucking Quote ',
    			'Mind ur fucking Business'
    			],
    			maxQuote:10,
    		}
    	},
    	            components:{
        appQuoteGrid:QuoteGrid,
        appNewQuote:NewQuote,
        appHeader:Header,
        
    },
    methods: {
    	addNewQuote(quote)
    	{
    		if(this.quotes.length>=this.maxQuote)
    		{
    		return alert('please delete some quote before deleting');
    		}
    		this.quotes.push(quote);
    	},
    	deleteQuote(index)
    	{
    		this.quotes.splice(index,1);
    	}
        
    }
    }
</script>

<style>
</style>
